@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --red: #C5221F;
    --blue:#2F98C2;
    --light-blue:#DEF1F9;
    --white: #FFFFFF;
    --font-family: "Roboto", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}
.container{
    padding: 20px;
}
#appointment{
    color: var(--blue);
    font-family: var(--font-family);
}
#log{
    color: var(--red);
    font-family: var(--font-family);

}
#div-2{
    display: flex;
    gap: 18px;
    padding: 0 30px;
}
h2{
    color: var(--blue);
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 700;
}
h3{
    color: var(--blue);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
}
h4{
    font-size: 24px;
    font-weight: 700;
}
#inside-div-1{
    padding-left: 15px;
}
#div-1{
    display: flex;
    padding: 0 30px;
}
main{
    background-color:var(--light-blue);

}